#titleBar {
    background-image: url("gojira-mini.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid #aaa;
    height: 63px;
    padding-left: 75px;
    margin-bottom: 10px;
}

#titleBar h1 {
    font-family: Helvetica;
    font-size: 46px;
    margin-top: 0;
}

#searchBar {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.commit {
	font-family: monospace;
}

#commit-list {
	padding: 0px;
}

#commit-list li {
	list-style: none;
}