#titleBar {
	background: #fff url("gojira-mini.png") no-repeat;
    border-bottom: 1px solid #aaa;

    padding-left: 75px;

    height: 63px;
	width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 100;
}

#titleBar h1 {
    font-family: Helvetica;
    font-size: 46px;
    margin-top: 0;
}

#searchBar {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#commits {
	margin-top: 74px;
}

#commit-list {
	width: 100%;
	border-spacing: 0;
}

#commit-list td {
	vertical-align: top;
	padding-right: 5px;
}

.commit-hash {
	width: 40px;
}

.commit-issue {
	width: 100px;
	white-space: nowrap;
}

#loading {
	background: #fff url("ajax-loader.gif");
	height: 32px;
	width: 32px;
}

.notReleaseReady {
	color: #f00;
	font-size: 0.8em;
	display: block;
	float: right;
}

.alt {
	background: #ddd;
}