<html>
<head>
    <title>GoJira</title>
    <link href="gojira.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="lib/json2.js"></script>
    <script src="lib/jquery-1.5.js"></script>
    <script src="lib/jquery.tmpl.js"></script>
    <script src="lib/underscore-1.1.6.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="gojira.js"></script>
</head>
<body>
    <div id="app">
        <div id="titleBar">
            <h1>GoJira!</h1>
        </div>
        <!--
        <div id="searchBar">
            <input id="from" type="text" size="7"> ... <input id="to" type="text" size="7">
            <input id="go" type="submit" value="Issues">
        </div>
        -->
        <div id="commits">
        	<table id="commit-list">
        	</table>
        </div>
        <div id="loading"></div>
	</div>

    <script type="text/template" id="item-template">
        <td class="commit-hash" title="${id}.${hash}">${id}</td>
        <td class="commit-issue">
        	<img src="${issue.status.iconUrl}"
        		 alt="${issue.status.name}" title="${issue.status.name}"/>
			<a href="${issue.link}" target="_blank">${issue.id}</a><br/>
			{{if !issue.status.exists}}
				<span class="notReleaseReady">
					Issue does not exist
				</span>
			{{else}}
				{{if !issue.status.releaseReady}}
				<span class="notReleaseReady">
					{{if issue.status.inQA}}
						in QA
					{{else}}
						in development
					{{/if}}
				</span>
				{{/if}}
			{{/if}}
        </td>
       	<td class="commit-issue-summary">
        	${issue.summary}
        </td>
    </script>
</body>
</html>